<p>This is the Users component.</p>
<button class="btn btn-sm mb3" [class.allowNewUser]="allowNewUser">
  Add new user
</button>
<h4>Here are all the current users</h4>
<div *ngIf="users?.length > 0">
  <ul>
    <li
      class="card card-body mb-3"
      [class.isActive]="user.isActive"
      [style.border-color]="user.isActive ? 'red' : 'black'"
      *ngFor="let user of users"
    >
      <h5>Name: {{ user.firstName + " " + user.lastName }}</h5>
      <div class="row">
        <div class="col-4">
          <img [src]="user.image" alt="" />
        </div>
        <div class="col-8">
          <ul *ngIf="showExtended">
            <li>Age: {{ user.age }}</li>
            <li>Email: {{ user.email }}</li>
            <li *ngIf="user.address">
              Address: {{ user.address.street }} {{ user.address.city }},
              {{ user.address.state }}
            </li>
            <li>Joined: {{ user.registeredDate | date }}</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- NOTE different ways to show a different template if *ngIf codition is false -->
<!-- <ng-template #noUsers>
  <h4>No users have been found...</h4>
</ng-template> -->
<div *ngIf="users?.length === 0">
  <h4>No users could be found..</h4>
</div>

<!-- NOTE Used to show a message while fetching data -->
<!-- <h4>Here are all the current users</h4>
<div *ngIf="users?.length > 0">
  <ul>
    <li class="card card-body" *ngFor="let user of users">
      <h5>Name: {{ user.firstName + " " + user.lastName }}</h5>
      <p>Age: {{ user.age }}, Email: {{ user.email }}</p>
      <ul *ngIf="showExtended && user.address">
        <li>
          Address: {{ user.address.street }} {{ user.address.city }},
          {{ user.address.state }}
        </li>
      </ul>
    </li>
  </ul>
</div> -->
<!-- <div *ngIf="!loaded">
  <p>Loading...please wait.</p>
</div> -->
